<!-- <div class="row"> -->
<!-- <div class="col-md-6 offset-3"> -->
    <div class="starter-template">
        <h1>MEAN Authentication App</h1>
        <p class="lead">Welcome to our custom MEAN authentication application built from scratch.<br> All you get is this text and a mostly barebones HTML document.</p>

      <!-- <div class="col-8 offset-2"> -->
          <a class="btn btn-primary btn-lg" [routerLink]="[ '/register' ]">Register</a>
          <a class="btn btn-secondary btn-lg" [routerLink]="[ '/login' ]">Login</a>
      <!-- </div> -->
    </div>
  <!-- </div> -->
<!-- </div> -->

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>A rock solid node js express server using Mongoose to organize models and query the database.</p>
  </div>
  <div class="col-md-4">
    <h3>Angular Cli</h3>
    <p>Angular CLI to generate components, services and more. Local dev server and easy compilation.</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Authenticate the application with passport jwt to provide a safe and secure system where routes are protected from unauthenticated users</p>

  </div>
</div>
