<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Mean Auth App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="nav navbar-nav navbar-left mr-auto">
        <li class="nav-item">
          <a class="nav-link"[routerLink]="[ '/' ]">Home</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <a class="nav-link" *ngIf="authService.loggedIn()" [routerLink]="[ '/dashboard' ]">Dashboard</a>
          <a class="nav-link" *ngIf="authService.loggedIn()" [routerLink]="[ '/profile' ]">Profile</a>

          <a class="nav-link" *ngIf="!authService.loggedIn()" [routerLink]="[ '/login' ]">Login</a>
          <a class="nav-link" *ngIf="!authService.loggedIn()" [routerLink]="[ '/register' ]">Register</a>
          
          <a class="nav-link" *ngIf="authService.loggedIn()" (click) = "onLogoutClick()">Logout</a>
      </ul>
    </div>
  </nav>